# dependencies
front/node_modules/

# production
front/dist/
front/build/

# env files
front/.env
front/.env.*
!front/.env.example

# logs
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*

# OS
front/.DS_Store
front/Thumbs.db

# IDE
.vscode/
.idea/

# cache
.cache/
.eslintcache

# test
front/coverage/
